<template>
    <div id="content">
        <div v-if="taxData.all">
            <div class="chart">
                <h2>Total Taxes Paid</h2>
                <total-tax-by-type :residential="taxData.residential" :commercial="taxData.commercial" :public="taxData.public"></total-tax-by-type>
            </div>
            <div class="chart">
                <h2>Total Tax Exemptions</h2>
                <total-tax-exemption-by-type :residential="taxData.residential" :commercial="taxData.commercial" :public="taxData.public"></total-tax-exemption-by-type>
            </div>
            <div class="chart">
                <h2>Maximum Tax Paid</h2>
                <max-tax-by-type :residential="taxData.residential" :commercial="taxData.commercial" :public="taxData.public"></max-tax-by-type>
            </div>
            <div class="chart">
                <h2>Mean Tax Paid</h2>
                <mean-tax-by-type :residential="taxData.residential" :commercial="taxData.commercial" :public="taxData.public"></mean-tax-by-type>
            </div>
        </div>
        <h1 v-else>Loading over 40k records, please wait...</h1>
    </div>
</template>

<script>
  import axios from 'axios';
  import _ from 'lodash';

  import MaxTaxByType from './MaxTaxByType';
  import MeanTaxByType from './MeanTaxByType';
  import TotalTaxByType from './TotalTaxByType';
  import TotalTaxExemptionByType from './TotalTaxExemptionByType';

  export default {
    name: 'Home',
    components: {
      MaxTaxByType,
      MeanTaxByType,
      TotalTaxByType,
      TotalTaxExemptionByType,
    },
    data() {
      return {
        taxData: {
          all: null,
          residential: null,
          commercial: null,
          public: null
        }
      };
    },
    mounted() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        axios
          .get('https://data.providenceri.gov/resource/r6n7-qjr6.json', {
            params: {
              '$limit': 45000
            }
          })
          .then(response => {
            _.each(response.data, item => {
              item.total_assessment = parseInt(item.total_assessment, 10);
              item.total_exemption = parseInt(item.total_exemption, 10)
            });

            this.taxData.all = response.data;

            this.taxData.residential = _.filter(this.taxData.all, function (o) {
              return o.levy_code === 'OO01' || o.levy_code === 'NO01';
            });

            this.taxData.commercial = _.filter(this.taxData.all, function (o) {
              return o.levy_code === 'C01';
            });

            this.taxData.public = _.filter(this.taxData.all, function (o) {
              return o.levy_code !== 'OO01' || o.levy_code !== 'NO01' || o.levy_code !== 'C01';
            });

          })
        // .then(response => (
        //   this.taxData = response.data
        // ));
      },
    },
    computed: {}
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .chart {
        width: 50%;
        display: inline-block;
    }
</style>
