<div></div>
<script>
  import {Bar} from 'vue-chartjs';
  import _ from 'lodash';

  export default {
    name: "MaxTaxByType",
    extends: Bar,
    props: ['residential', 'commercial', 'public'],
    mounted() {
      this.renderChart({
        labels: ['Max'],
        datasets: [
          {
            label: 'Residential',
            backgroundColor: '#F44336',
            data: this.residentialTaxValues
          },
          {
            label: 'Commercial',
            backgroundColor: '#03A9F4',
            data: this.commercialTaxValues
          },
          {
            label: 'Public',
            backgroundColor: '#4CAF50',
            data: this.publicTaxValues
          }
        ]
      }, {responsive: true, maintainAspectRatio: false});
    },
    computed: {
      residentialTaxValues() {
        let max = _.maxBy(this.residential, 'total_assessment').total_assessment;
        // let mean = _.meanBy(residentialData, 'total_assessment');
        return [max]
      },
      commercialTaxValues() {
        let max = _.maxBy(this.commercial, 'total_assessment').total_assessment;
        // let mean =  .meanBy(commercialData, 'total_assessment');
        return [max]
      },
      publicTaxValues() {
        let max = _.maxBy(this.public, 'total_assessment').total_assessment;
        // let mean = _.meanBy(publicData, 'total_assessment');
        return [max]
      }
    }
  };
</script>

<style lang="scss">
</style>

// [{"class":"80","class_desc":"State","formatted_address":"Bridge Across Seekonk River","levy_code":"E01","levy_code_desc":"Non Residential Exempt","location_city":"Providence","location_street":"Bridge Across Seekonk River","location_zip":"02906","lot":"0001","owner_address":"02903","owner_city":"Providence","owner_location_address":"State Office Building","owner_location_city":"Providence","owner_location_state":"RI","owner_location_zip":"02903","owner_state":"RI","owner_street":"State Office Building","plat":"000","plat_lot_unit":"000-0001-0002","property_location_address":"Bridge Across Seekonk River","property_location_city":"Providence","property_location_state":"RI","property_location_zip":"02906","total_assessment":"0","total_exemption":"0","unit":"0002"}
