<div></div>
<script>
  import {Pie} from 'vue-chartjs';
  import _ from 'lodash';

  export default {
    name: 'TotalTaxByType',
    extends: Pie,
    props: ['residential', 'commercial', 'public'],
    mounted() {
      this.renderChart({
        labels: ['Residential', 'Commercial', 'Public'],
        datasets: [
          {
            label: 'Dollars',
            backgroundColor: ['#F44336', '#03A9F4', '#4CAF50'],
            data: this.totals
          }
        ]
      }, {responsive: true, maintainAspectRatio: false});
    },
    computed: {
      totals() {
        let residentalTaxTotal = _.sumBy(this.residential, 'total_assessment');
        let commercialTaxTotal = _.sumBy(this.commercial, 'total_assessment');
        let publicTaxTotal = _.sumBy(this.public, 'total_assessment');

        return [residentalTaxTotal, commercialTaxTotal, publicTaxTotal];
      }
    }
  };
</script>

<style lang="scss">
</style>

